header.profile {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #00185e;
  background-image: url("https://www.transparenttextures.com/patterns/escheresque-dark.png");;
  color: aliceblue;
  margin-top: 120px;
  font-size: 80%;
}

header > div > img {
  width: 30vh;
  margin-top: 1em;
}


@media only screen and (min-width: 1024px) {
  header.profile {
    margin-left: 2em;
    margin-top: 160px;
    width: 40%;
    
    }
}

@media only screen and (max-width: 768px) {
  header.profile {
    margin-top: 0px;
  }
}
