nav {
  display: flex;
  background-color: #4056A1;
  color: #FFFFFF;
  height: 120px;
  justify-content: space-between;
  position: fixed; 
  top: 0; 
  width: 100vw;

}

nav span {
  margin: 1em;
  margin-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-chevron-down {
  color: red;
}

.logo {
  font-family: 'Bungee';
  font-size: xx-large;
}


@media only screen and (max-width: 768px) {
  .logo {
    font-size: x-large;
  }

  nav {
    background-color: #ffffff00;
    position: absolute;
  }
}
