nav {
  display: flex;
  background-color: #4056A1;
  color: #FFFFFF;
  height: 120px;
  justify-content: space-between;
  position: fixed; 
  top: 0; 
  width: 100vw;
}

nav span {
  margin: 1em;
  margin-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tweet-prompt > a {
  font-size: 20px;
}

.fa-chevron-down {
  color: red;
}

.logo {
  font-family: 'Bungee';
  font-size: x-large;
}

/* responsive desgin */

@media only screen and (min-width: 576px) {
  nav {
    background-color: #ffffff00;
    position: absolute; 
  }
  
  .tweet-prompt > a {
    font-size: 20px;
  }
  
}

@media only screen and (min-width: 768px) {
  .logo {
    font-size: x-large;
  }

  .tweet-prompt > a {
    font-size: 25px;
  }

  nav {
    background-color: #ffffff00;
    position: absolute;
    height: 120px;
  }
}

@media only screen and (min-width: 1024px) {
  nav {
    display: flex;
    background-color: #4056A1;
    color: #FFFFFF;
    height: 120px;
    justify-content: space-between;
    position: fixed; 
    top: 0; 
    width: 100vw;
  }

  .logo {
    font-size: xx-large;
  }

  .tweet-prompt > a {
    font-size: 30px;
  }
}




