nav {
  display: flex;
  background-color: #4056A1;
  color: #FFFFFF;
  height: 120px;
  justify-content: space-between;
  position: fixed; 
  top: 0; 
  width: 100%;

}

nav span {
  margin: 1.5em;
}

nav .logo {
  font-family: 'Bungee';
  font-size: xx-large;
}

