article.tweet {
  border-style: solid;
  border-width: 5px;
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  width: 90%;
  box-shadow: 0px 0px;
}


article.tweet:hover {
  box-shadow: 10px 10px #4057a18f;

}

article.tweet:hover .user-handle {
  color: #4057a18f;
}

article.tweet header {
  display: flex;
  justify-content: space-between;
  font-family: 'Source Sans Pro';
}

.user-handle {
  color: #4057a100;
}


article.tweet footer {
  display: flex;
  justify-content: space-between;
}

#date {
  font-size: medium;
}

.icons {
  color: #4056A1;
}
.tweet-under-line {
  padding: 1em;
  padding-bottom: 1.5em;
  border-bottom: 5px solid #545149;
}
